/**
* CSS BASED ON CAYMAN THEME.
*/

/* All */

* {
    margin: 0;
}

/* Body */
html, body {
    min-height: 100%;
}

body {
    background-blend-mode: hard-light;
    background-color: #fefffa;
    background-image: url(../img/fox.png);
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 5em;
    color: #606c71;
    font-family: "Quicksand", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 64em) {
    body {
        background-size: 2.5em;
    }
}
@media print {
  body {
    background: none;
    font-size: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

/* Text */

stress { /* New tag for semantic HTML */
    text-decoration: underline;
}

/* Headers and divs */

.site-header {
    height: 2em;
    padding: .1em 0rem;
    padding-right: .5em;
    text-align: right;
}
@media screen and (max-width: 64em) {
    .site-header {
        height: 1.5em;
    }
}

.project-name, .project-name a {
    border-bottom: none;
    color: #de2f0f !important;
    font-family: "Lobster Two";
    margin-bottom: 0.1rem;
    margin-top: 0;
    text-shadow: 0 0 !important;
}
.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

@media screen and (max-width: 64em) {
  .project-name {
    font-size: 2rem !important;
  }
  .project-tagline {
    display: none !important;
  }
}
@media screen and (max-width: 42em) {
  .project-name {
    font-size: 7vw !important;
  }
}

.main-content { word-wrap: break-word; }
.main-content :first-child { margin-top: 0; }
@media screen and (min-width: 64em) { .main-content { max-width: 64rem; padding: 4rem 6rem; margin: 0 auto; font-size: 1.1rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .main-content { padding: 4rem 4rem; font-size: 1.1rem; } }
@media screen and (max-width: 42em) { .main-content { padding: 4rem 1rem; font-size: 1rem; } }
.main-content img { max-width: 100%; }
.main-content h1, main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: normal; color: #c5270a; }
.main-content h2, .main-content h3 {
    color: #c5270a;
    font-weight: normal;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.main-content p { margin-bottom: 1em; }
.main-content .highlight { margin-bottom: 1rem; }
.main-content .highlight pre { margin-bottom: 0; word-break: normal; }
.main-content .highlight pre, .main-content pre { padding: 0.8rem; overflow: auto; font-size: 0.9rem; line-height: 1.45; border-radius: 0.3rem; -webkit-overflow-scrolling: touch; }
.main-content pre code, .main-content pre tt { display: inline; max-width: initial; padding: 0; margin: 0; overflow: initial; line-height: inherit; word-wrap: normal; background-color: transparent; border: 0; }
.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after { content: normal; }
.main-content blockquote { padding: 0 1rem; margin-left: 0; color: #819198; border-left: 0.3rem solid #dce6f0; }
.main-content blockquote > :first-child { margin-top: 0; }
.main-content blockquote > :last-child { margin-bottom: 0; }
.main-content table { display: block; width: 100%; overflow: auto; word-break: normal; word-break: keep-all; -webkit-overflow-scrolling: touch; }
.main-content table th { font-weight: bold; }
.main-content table th, .main-content table td { padding: 0.5rem 1rem; border: 1px solid #e9ebec; }
.main-content table td.code, .main-content table td.gutter { padding: 0; border: 0; }
.main-content div.code, .main-content div.gutter { padding: 0; border: 0; }
.main-content table td.code { width: 100%; overflow: scroll; }
.main-content div.code { width: 100%; overflow: scroll; }
.main-content dl { padding: 0; }
.main-content dl dt { padding: 0; margin-top: 1rem; font-size: 1rem; font-weight: bold; }
.main-content dl dd { padding: 0; margin-bottom: 1rem; }
.main-content hr { height: 2px; padding: 0; margin: 1rem 0; background-color: #eff0f1; border: 0; }

.site-footer {
    border-top: solid 1px #eff0f1;
    float: right;
    margin-bottom: 1em;
    margin-top: 2rem;
    padding-top: 2rem;
}
@media print {
  .site-footer {
    display: none;
  }
}
@media screen and (min-width: 64em) { .site-footer { font-size: 1rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .site-footer { font-size: 1rem; } }
@media screen and (max-width: 42em) { .site-footer { font-size: 0.9rem; } }

.site-footer-owner { display: block; font-weight: bold; }

.site-footer-credits {
    color: #819198;
    margin-right: 1em;
}

/* Header and title */
.page-header {
    padding-bottom: 0;
    padding-top: .1em;
}
.page-header {
    background-image: linear-gradient(120deg, #155799, #9dbf36);
}

/* Paragprahs */
.site-header p {
    margin: 0;
}

.main-content p::first-letter {
    font-size: 1.2rem;
    font-style: normal;
    margin-left: .5em;
}

.main-content code { padding: 2px 4px; font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 0.9rem; color: #567482; background-color: #f3f6fa; border-radius: 0.3rem; }
.main-content pre {
    background-color: #f8f5ec;
    border: solid 1px rgb(218, 215, 206);
    border-radius: 0.3rem;
    color: #567482;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    word-wrap: normal;
}
@media print {
  .main-content pre {
    background: none;
  }
}
.main-content pre > code { padding: 0; margin: 0; font-size: 0.9rem; color: #567482; word-break: normal; white-space: pre; background: transparent; border: 0; }


/* Extract from posts (right after date) should be displayed inline */
p.post-date {
    display: inline;
}
p.post-date::after {
    content: "~";
}
p.post-date + p {
    display: inline;
}
p.post-more {
    display: inline;
    margin-bottom: 1em;
}
p.post-more + a>h2 {
    margin-top: 1em !important;
}

/* Lists */
li:before {
    content: "\2ABC";
    margin-right: 1em;
}
ul {
    list-style: none;
}

.main-content ul, .main-content ol {
    margin-top: 0;
}
@media screen and (max-width: 64em) {
    .main-content ul, .main-content ol {
        padding-left: 0;
    }
}

.sidebar-content ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.sidebar-content li {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position-x: left;
    margin-top: .2em;
    min-width: 2em;
}
.sidebar-content li:nth-child(2) {
    background: linear-gradient(-120deg, rgba(255,255,255,0) 30%, rgb(254, 210, 116) 100%);
}
.sidebar-content li:nth-child(3) {
    background: linear-gradient(-120deg, rgba(255,255,255,0) 30%, rgb(189, 239, 124) 100%);
}
.sidebar-content li:nth-child(4) {
    background: linear-gradient(-120deg, rgba(255,255,255,0) 30%, rgb(205, 164, 108) 100%);
}
.sidebar-content li:before {
    content: "";
    margin-right: .1em;
    margin: 0;
}
.sidebar-content li:hover {
    border-bottom: 1px solid #bfbb65;
    transform: translateX(20);
}
.sidebar-content li:hover {
    background: linear-gradient(-120deg, rgba(255,255,255,0) 30%, rgb(255, 251, 165) 60%, #f1a243 100%);
}
.sidebar-content li:nth-child(2):hover {
    background: linear-gradient(-120deg, rgba(255,255,255,0) 30%, rgb(254, 210, 116) 60%, #f1a243 100%);
}
.sidebar-content li:nth-child(3):hover {
    background: linear-gradient(-120deg, rgba(255,255,255,0) 30%, rgb(189, 239, 124) 60%, #f1a243 100%);
}
.sidebar-content li:nth-child(4):hover {
    background: linear-gradient(-120deg, rgba(255,255,255,0) 30%, rgb(205, 164, 108) 60%, #f1a243 100%);
}

@media screen and (max-width: 64em) {
  .sidebar-content li {
    background: none !important;
    border: none;
    display: inline-block;
    margin-left: 0;
    margin-top: 0;
  }
  .sidebar-content li:hover {
    border-bottom: none;
    border-radius: 0;
    background-color: rgba(229, 217, 199, 0.6) !important;
  }
}
@media screen and (max-width: 42em) {
  .sidebar-content li {
    font-size: 7vw !important;
  }
}
@media print {
  .sidebar-content li {
    font-size: 1.7rem;
    background: none !important;
    display: inline-block;
  }
  .sidebar-content li .navbar-text {
    display: inline-block;
    float: right !important;
    margin-top: .5em;
  }
}

ul#markdown-toc {
    border: 1px solid #eb836e;
    float: right;
    font-size: .7rem;
    max-width: 16em;
    padding: 1em;
    position: fixed;
    right: 1em;
    top: 8em;
}
@media screen and (max-width: 64em) {
  ul#markdown-toc {
    display: none;
  }
}
@media print {
  ul#markdown-toc {
    display: none;
  }
}
ul#markdown-toc li:before {
    content: "-";
}
#markdown-toc ul {
    padding-left: 1.3em;
}

/* Links */
a {
    color: #987134;
    text-decoration: none;
    border-bottom: 3px double;
}

.link-full,
.sidebar-content li > a,
a.post-tag,
.posts li > a {
    border-bottom: none;
    text-decoration: none;
}

h2 a.link-full {
    color: #c5270a;
}

/* Sidebar, icons and text */

.sidebar-content .fa {
    color: #567482;
    margin: .2em;
}
.sidebar-content .fa:hover {
    opacity: 0.7;
}

.navlink .navbar-text {
    color: #567482;
    display: none;
    font-size: .5em;
    margin-left: .5em;
}
@media screen and (max-width: 64em) {
    .sidebar-content .fa {
        margin-left: 0;
    }
    .navlink .navbar-text {
        display: block;
        font-size: .5em;
        margin-left: 0;
        transform: none;
        visibility: hidden;
    }
    .navlink:hover .navbar-text {
        display: block !important;
        visibility: visible;
    }
}
.navlink:hover {
    text-decoration: none;
}
.navlink:hover .navbar-text {
    display: inline;
}

/* Sections */

.main-content {
    height: 100%;
}

.sidebar-content-wrapper {
    float: left;
    margin-top: .2em;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 1;
}
.sidebar-content {
    box-sizing: border-box;
    float: left;
    margin-bottom: 0.2em;
    margin-top: 2.5em;
    max-width: 10;
    z-index: 2;
}

@media screen and (max-width: 64em) {
  .sidebar-content-wrapper {
    margin: 0;
    min-width: 100%;
    position: relative;
  }
  .sidebar-content {
    border: 1px solid rgb(215, 181, 125);
    background: linear-gradient(70deg, rgba(255,255,255,0) 30%, rgb(255, 221, 165) 100%);
    margin-top: 0;
    min-width: 100%;
    transform: none;
  }
}
@media print {
  .sidebar-content-wrapper {
    min-width: 100%;
    position: relative;
  }
  .sidebar-content {
    border: 0;
    background: none;
    font-size: 1em;
    margin-top: 0;
    min-width: 100%;
  }
}

/* Tags */
.post-tag:before {
    /*content: "\2318";*/
    padding-right: .1em;
}
.post-tag {
    background: #e6e67a;
    border-radius: .3em;
    margin: .1em;
    padding: .2em;
}
.post-tag:hover {
    text-decoration: none;
    opacity: .7;
}
