/**
* CSS BASED ON CAYMAN THEME.
*/

/* All */

* {
    margin: 0;
}

/* Body */
html, body {
    min-height: 100%;
}

body {
    background-blend-mode: hard-light;
    background-color: #fefffa;
    background-image: url(../img/fox.png);
    background-image: url(../img/fox.png), linear-gradient(35deg, #ef8c15, #fefffa 30em, #fefffa, color-stop(0.85, #fefffa));
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #606c71;
    font-family: "Quicksand", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 75em) {
    body {
	    background-color: #fefffa;
	    background-image: url(../img/fox.png);
        background-size: 6rem;
    }
}
@media print {
  body {
    background: none;
    font-size: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

/* Text */

stress { /* New tag for semantic HTML */
    text-decoration: underline;
}

/* Headers and divs */

.site-header {
    height: 2em;
    padding: .1em 0rem;
    padding-right: .5em;
    text-align: right;
}
@media screen and (max-width: 75em) {
    .site-header {
        height: 1.5em;
    }
}

.project-name, .project-name a {
    border-bottom: none;
    color: #de2f0f !important;
    font-family: "Lobster Two";
    margin-bottom: -.2em;
    margin-top: 0;
    text-shadow: 0 0 !important;

}
@-moz-document url-prefix() {
	.project-name, .project-name a {
        opacity: .7;
    }
}
.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

@media screen and (max-width: 75em) {
  .project-name {
    font-size: 2rem !important;
  }
  .project-tagline {
    display: none !important;
  }
}
@media screen and (max-width: 42em) {
  .project-name {
    font-size: 7vw !important;
  }
}

.main-content { word-wrap: break-word; text-align: justify; }
.main-content :first-child { margin-top: 0; }
@media screen and (min-width: 75em) { .main-content { max-width: 70%; padding-top: 4rem; padding-left: 4rem; margin: 0 auto; margin-left: 9.5em; font-size: 1.1rem; } }
@media screen and (min-width: 42em) and (max-width: 75em) { .main-content { padding: 4rem 4rem; font-size: 1.1rem; } }
@media screen and (max-width: 42em) { .main-content { padding: 4rem 1rem; font-size: .4rem; } }
.main-content img { max-width: 100%; }
.main-content h1, main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: normal; color: #c5270a; }
.main-content h2, .main-content h3 {
    color: #c5270a;
    font-weight: normal;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.main-content p { margin-bottom: 1em; }
.main-content .highlight { margin-bottom: 1rem; }
.main-content .highlight pre { margin-bottom: 0; word-break: normal; }
.main-content .highlight pre, .main-content pre { padding: 0.8rem; overflow: auto; max-width: 65em !important; font-size: 0.9rem; line-height: 1.45; border-radius: 0.3rem; -webkit-overflow-scrolling: touch; }
.main-content pre code, .main-content pre tt { display: inline; max-width: initial; padding: 0; margin: 0; overflow: initial; line-height: inherit; word-wrap: normal; background-color: transparent; border: 0; }
.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after { content: normal; }
.main-content blockquote { padding: 0 1rem; margin-left: 0; color: #819198; border-left: 0.3rem solid #dce6f0; }
.main-content blockquote > :first-child { margin-top: 0; }
.main-content blockquote > :last-child { margin-bottom: 0; }
.main-content table { display: block; width: 100%; overflow: auto; word-break: normal; word-break: keep-all; -webkit-overflow-scrolling: touch; }
.main-content table th { font-weight: bold; }
.main-content table th, .main-content table td { padding: 0.5rem 1rem; border: 1px solid #e9ebec; }
.main-content table td.code, .main-content table td.gutter { padding: 0; border: 0; }
.main-content div.code, .main-content div.gutter { padding: 0; border: 0; }
.main-content table td.code { width: 100%; overflow: scroll; }
.main-content div.code { width: 100%; overflow: scroll; }
.main-content dl { padding: 0; }
.main-content dl dt { padding: 0; margin-top: 1rem; font-size: 1rem; font-weight: bold; }
.main-content dl dd { padding: 0; margin-bottom: 1rem; }
.main-content hr { height: 2px; padding: 0; margin: 1rem 0; background-color: #eff0f1; border: 0; }

.site-footer {
    float: right;
    margin-bottom: .4em;
    margin-right: .4em;
    padding-top: 2rem;
}
.site-footer p {
	display: inline;
}
@media print {
  .site-footer  {
    display: none;
  }
}
@media screen and (min-width: 75em) { .site-footer { font-size: 1rem; } }
@media screen and (min-width: 42em) and (max-width: 75em) { .site-footer { font-size: 1rem; } }
@media screen and (max-width: 42em) { .site-footer { font-size: 0.9rem; } }

.site-footer-owner { display: block; font-weight: bold; }

/* Header and title */
.page-header {
    padding-bottom: 0;
    padding-top: .1em;
}
.page-header {
    background-image: linear-gradient(120deg, #155799, #9dbf36);
}

.site-credits {
    color: #819198;
    font-size: 1rem;
    margin-right: 1em;
}
@media screen and (max-width: 42em) {
  .site-credits {
    font-size: .6rem;
  }
}

/* Paragprahs */
.site-header p {
    margin: 0;
}

.main-content p::first-letter {
    font-size: 1.2rem;
    font-style: normal;
    margin-left: .5em;
}

.main-content code { padding: 2px 4px; font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 0.9rem; color: #567482; background-color: #f3f6fa; border-radius: 0.3rem; }
.main-content pre {
    background-color: #f8f5ec;
    border: solid 1px rgb(218, 215, 206);
    border-radius: 0.3rem;
    color: #567482;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    word-wrap: normal;
}
@media print {
  .main-content pre {
    background: none;
  }
}
.main-content pre > code { padding: 0; margin: 0; font-size: 0.9rem; color: #567482; word-break: normal; white-space: pre; background: transparent; border: 0; }


/* Extract from posts (right after date) should be displayed inline */
p.post-date {
    display: inline;
}
p.post-date::after {
    content: "~";
}
p.post-date + p {
    display: inline;
}
p.post-more {
    display: inline;
    margin-bottom: 1em;
}
p.post-more + a>h2 {
    margin-top: 1em !important;
}

/* Lists */
li:before {
    content: "\2ABC";
    margin-right: 1em;
}
ul {
    list-style: none;
}
ul.expanded {
	padding-left: 0em;
}
ul.expanded li:before {
    content: "\221D";
    margin-left: 0em;
    margin-right: .2em;
    padding-left: 0em;
}
ul.expanded li:after {
    margin-left: .2em;
}
ul.expanded li {
   margin-bottom: .3em;
}

.main-content ul, .main-content ol {
    margin-top: 0;
}
@media screen and (max-width: 75em) {
    .main-content ul, .main-content ol {
        padding-left: 0;
    }
}

.sidebar-content ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.sidebar-content ul:before {
    content: "";
    position: absolute;
    height: 80%;
    z-index: -1;
}
.sidebar-content li {
    background-repeat: no-repeat;
    background-position-x: left;
    min-width: 5em;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}
.sidebar-content li:before {
    content: "";
    margin-right: .1em;
    margin: 0;
}

@media screen and (max-width: 75em) {
  .sidebar-content li {
    background: none !important;
    border: none;
    display: inline-block;
    margin-left: 0;
    margin-top: 0;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
  }
}
@media screen and (max-width: 42em) {
  .sidebar-content li {
    font-size: 4.5vw !important;
  }
}
@media print {
  .sidebar-content li {
    font-size: 1.7rem;
    background: none !important;
    display: inline-block;
  }
  .sidebar-content li .navbar-text {
    display: inline-block;
    float: right !important;
    margin-top: .5em;
  }
}

ul#markdown-toc {
    border: 1px solid #eb836e;
    float: right;
    font-size: .7rem;
    max-width: 16em;
    padding: 1em;
    position: fixed;
    right: 1em;
    top: 15em;
}
@media screen and (max-width: 75em) {
  ul#markdown-toc {
    display: none;
  }
}
@media print {
  ul#markdown-toc {
    display: none;
  }
}
ul#markdown-toc li:before {
    content: "-";
}
#markdown-toc ul {
    padding-left: 1.3em;
}

.circled-list { 
}

/* Resume section */
#resume {
    font-size: .9em;
    text-align: justify;
}

.acro {
	background-color: #f7ead9;
}
#e2-research {
	display: table;
}
.experience,
.studies {
	display: table-row;
}
.experience-icon,
.experience-title,
.experience-length,
.studies-title,
.studies-institution {
	display: table-cell;
}
.experience-icon {
	min-width: 10%;
    padding-right: 1em;
    width: 10%;
}
.experience-title {
	min-width: 72%;
	text-align: left;
	vertical-align: middle;
	width: 72%;
}
.experience-length {
	text-align: right;
	width: 18%;
}
.studies-title {
	min-width: 17em;
	text-align: left;
}
.studies-institution {
	width: 100%;
	text-align: right;
}
.experience a {
    color: #66503b;
    font-weight: bolder;
}

.publication-title,
.publication-title a {
    color: #51920f;
    font-weight: bolder;
}
.experience a,
.publication-title a {
    border: none;
    text-decoration: underline;
}

/* Links */
a {
    color: #987134;
    text-decoration: none;
    border-bottom: 3px double;
}

.link-full,
.sidebar-content li > a,
a.post-tag,
.posts li > a {
    border-bottom: none;
    text-decoration: none;
}
.main-content a.post-tag {
    background-color: #e6e67a;
    border-radius: .4em;
    padding: .25em;
}

h2 a.link-full {
    color: #c5270a;
}

a.social-icon {
    border-bottom: 0;
    font-size: 2em;
}
a.social-icon em {
    border-radius: .2em;
    color: #fefffa;
    opacity: .7;
    padding: .15em;
    text-align: center;
    width: 1em;
}
a.social-icon em#linkedin-icon {
	background-color: #0077b5;
}
a.social-icon em#researchgate-icon {
	background-color: #0cb;
}
a.social-icon em#github-icon {
	background-color: #24292e;
}
a.social-icon em:hover {
    opacity: .9;
}

/* Sidebar, icons and text */
.sidebar-content .fa {
    color: #748a94;
    background-color: #fefffa;
    border: .1em solid #748a94;
    border-radius: 1em;
    height: 1.5em;
    margin: .2em;
    padding-top: .5em;
    width: 1.5em;
}
@media screen and (max-width: 42em) {
  .sidebar-content .fa {
    width: 40%;
  }
}

.sidebar-content li:nth-child(1) .fa {
	border-color: #d7bd1e;
	color: #f1d734;
}
.sidebar-content li:nth-child(2) .fa {
	border-color: #ef5110;
	color: #fe6c04;
}
.sidebar-content li:nth-child(3) .fa {
	border-color: #ef8c15;
	color: #f1a243;
}
.sidebar-content li:nth-child(4) .fa {
	border-color: #51920f;
	color: #b2cf92;
}
.sidebar-content .fa:hover,
.sidebar-content a.active .fa,
.sidebar-content .navbar-text:hover + .fa
{
	color: #fefffa !important;
}
.sidebar-content li:nth-child(1) .fa:hover,
.sidebar-content li:nth-child(1) a.active .fa,
.sidebar-content li:nth-child(1) .navbar-text:hover + .fa {
	background-color: #f1d734;
}
.sidebar-content li:nth-child(2) .fa:hover,
.sidebar-content li:nth-child(2) a.active .fa,
.sidebar-content li:nth-child(2) .navbar-text:hover + .fa {
	background-color: #ff734a;
}
.sidebar-content li:nth-child(3) .fa:hover,
.sidebar-content li:nth-child(3) a.active .fa,
.sidebar-content li:nth-child(3) .navbar-text:hover + .fa {
	background-color: #f1a243;
}
.sidebar-content li:nth-child(4) .fa:hover,
.sidebar-content li:nth-child(4) a.active .fa,
.sidebar-content li:nth-child(4) .navbar-text:hover + .fa {
	background-color: #83ba4b;
}

.navlink {
    display: flex;
}
.sidebar-content li:nth-child(even) a.navlink {
    flex-direction: row-reverse;
}
@media print {
	.sidebar-content li:nth-child(even) a.navlink {
	    flex-direction: row;
	}
}
@media screen and (max-width: 75em) {
  .sidebar-content li:nth-child(even) a.navlink {
    flex-direction: row;
  }
}
@media screen and (max-width: 42em) {
  .navlink {
    display: block;
  }
}

.navlink .fa {
    align-self: flex-end;
    flex: 1;
}
.navlink .navbar-text {
    align-self: flex-end;
    color: #567482;
    flex: 1;
    font-size: .7em;
    font-variant: small-caps;
    margin-bottom: 1em;
    margin-left: .5em;
    width: 3em;
}

@media screen and (max-width: 75em) {
    .sidebar-content .fa {
        margin-left: 0;
    }
    .navlink .navbar-text {
        display: block;
        font-size: 1.1em;
        margin-bottom: -.1em;
        margin-left: auto;
        margin-right: auto;
        transform: none;
    }
    .navlink:hover .navbar-text {
        display: block !important;
        visibility: visible;
    }
}
@media screen and (min-width: 42em) and (max-width: 75em) {
    .navlink .navbar-text {
        margin-bottom: .5em;
        margin-right: .1em;
    }
}
@media print {
	.sidebar-content .fa {
		background: transparent;
	}
}
.navlink:hover {
    text-decoration: none;
}
.navlink:hover .navbar-text {
}

/* Sections */

.main-content {
    height: 100%;
}

.sidebar-content-wrapper {
    float: left;
    margin-top: .2em;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 1;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}
.sidebar-content {
    /*background:
        linear-gradient(-45deg, #fefffa 37%, transparent 25%) 0 -50px,
        linear-gradient(-135deg, #fefffa 37%, transparent 25%) 0  -50px,
        linear-gradient(-225deg, #fefffa 37%, transparent 25%),
        linear-gradient(-315deg, #fefffa 37%, transparent 25%);
    background-color: #89653c;
    background-size: 170px 100px;*/
    box-sizing: border-box;
    float: left;
    margin-bottom: 0.2em;
    margin-top: 2.5em;
    max-width: 7em;
    z-index: 2;
}
.sidebar-content .diag-left-up-line {
    width: 3.3em;
    height: .1em;
    border: .1em #000;
	border-radius: 50%/10px 10px 0 0;
    -webkit-transform: translateY(-20px) translateX(1.5em) rotate(40deg);
    -moz-transform: translateY(-20px) translateX(1.5em) rotate(40deg);
    -ms-transform: translateY(-20px) translateX(1.5em) rotate(40deg);
    transform: translateY(-20px) translateX(1.5em) rotate(40deg);
    position: absolute;
    padding: 0;
    z-index: -1;
}
.sidebar-content .diag-right-up-line {
    width: 3.5em;
    height: .1em;
    border-bottom: .1em #000;
	-webkit-transform: translateY(20px) translateX(.5em) rotate(-40deg);
	-moz-transform: translateY(20px) translateX(.5em) rotate(-40deg);
	-ms-transform: translateY(20px) translateX(.5em) rotate(-40deg);
	transform: translateY(20px) translateX(.5em) rotate(-40deg);
    position: absolute;
    top: -33px;
    left: -13px;
    z-index: -1;
}
.sidebar-content .diag-left-down-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 .5em .5em;
    border-color: transparent transparent #000 transparent;
    transform: rotateZ(120deg);
    position: relative;
    margin-bottom: 0px;
}
.sidebar-content .diag-right-down-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 .5em .5em;
    border-color: transparent transparent #000 transparent;
    transform: rotateZ(-45deg);
    position: relative;
    margin-bottom: 0px;
}
.sidebar-content #navlink-conn-1 {
	border-color: #ef5110 transparent transparent transparent;
	border-style: solid;
	margin-top: 3.1em;
}
.sidebar-content #navlink-conn-1 .diag-right-down-arrow {
	border-color: transparent transparent #ef5110 transparent;
    margin-left: .4em;
	margin-top: -.3em;
}
.sidebar-content #navlink-conn-2 {
	border-color: transparent transparent #f1a243 transparent;
	border-style: dotted;
	margin-top: 8em;
}
.sidebar-content #navlink-conn-2 .diag-left-down-arrow {
	border-color: transparent transparent #f1a243 transparent;
	margin-left: 1.9em;
	margin-top: -.2em;
}
.sidebar-content #navlink-conn-3 {
	border-color: #51920f transparent transparent transparent;
	border-style: solid;
	margin-top: 8em;
}
.sidebar-content #navlink-conn-3 .diag-right-down-arrow {
	border-color: transparent transparent #51920f transparent;
	margin-left: 1.1em;
	margin-top: -.3em;
}

@media screen and (max-width: 75em) {
  .sidebar-content-wrapper {
    margin: 0;
    min-width: 100%;
    position: relative;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  .sidebar-content {
	margin-bottom: 1em;
    margin-top: 1em;
    min-width: 100%;
    transform: none;
    position: relative;
	border-bottom: .1em solid #f4bdb0;
  }
  .sidebar-content:after, .sidebar-content:before {
	top: 101%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
  }
  .sidebar-content:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #d8e7c6;
	border-width: 20px;
	margin-left: -20px;
	}
  .sidebar-content:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #f4bdb0;
	border-width: 26px;
	margin-left: -26px;
  }
  .sidebar-content div {
	display: none;
  }
}
@media screen and (max-width: 42em) {
  .sidebar-content {
	display: inline;
    margin-top: 0;
  }
  .sidebar-content:after {
    border-width: .4em;
    margin-left: -.4em;
    }
  .sidebar-content:before {
    border-width: .5em;
    margin-left: -.5em;
  }
}
@media print {
  .sidebar-content-wrapper {
    min-width: 100%;
    position: relative;
  }
  .sidebar-content {
    border: 0;
    background: none;
    font-size: 1em;
    margin-top: 0;
    min-width: 100%;
  }
  .sidebar-content div {
    display: none;
  }
}

#disqus_thread {
    border-top: .1em dashed #66503b;
    margin-top: 5em;
    padding-top: 1em;

/* Tags */
.post-tag:before {
    /*content: "\2318";*/
    padding-right: .1em;
}
.post-tag {
    background: #e6e67a;
    border-radius: .3em;
    margin: .1em;
    padding: .2em;
}
.post-tag:hover {
    text-decoration: none;
    opacity: .7;
}
