/* All */

* {
	margin: 0;
}

/* Body */
html, body {
	min-height: 100%;
}

body {
	background-color: #fefffb;
	color: #606c71;
	display: block;
	font-family: "Quicksand", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	z-index: 0;
}
body::after {
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	opacity: 1;
	position: fixed;
	right: 0;
	top: 0;
    zoom: .6;
	z-index: -1;
}
@media screen and (min-width: 75em) {
    body::after {
        background-color: #fefffa;
        background-image: url(../img/fox.png);
        background-image: url(../img/fox.png), linear-gradient(35deg, #ffff23, #fefffa 7em, #fefffa);
        background-position: left bottom;
        background-repeat: no-repeat;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        opacity: .7;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
    }
}

@supports (height: 100vh) {
  body {
    background: linear-gradient(to right top, #938379 50%, #eee 40%);
    background-size: 100% calc(100% - 100vh - .5em);
    background-repeat: no-repeat;
  }

  body:before {
    content: '';
    position: fixed;
    top: .2rem;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: #fefffb;
  }
}

@media print {
	body {
		background: none;
		font-size: 1em;
		margin-left: 2em;
		margin-right: 2em;
	}
	body::after {
		background: #fefffa;
	}
}

/* Text */

stress {/* New tag for semantic HTML */
	text-decoration: underline;
}
code {
    display: inline-block;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Headers and divs */

.site-header {
	background:
		linear-gradient(-45deg, #f8ddc5 25%, transparent 2%) 0 -5em,
		linear-gradient(-135deg, #d5edbc 51%, transparent 2%) 0 0,
		linear-gradient(-225deg, #d5edbc 20%, transparent 2%) 0 -10em,
		linear-gradient(-315deg, #e0ec6f 60%, transparent 2%) 0 0;
    background-repeat: repeat-x;
  	height: 1.9em;
	padding: .1em 0rem;
	padding-right: .5em;
	position: fixed;
	right: 0;
	text-align: right;
	top: 0;
	z-index: 1;
	width: 100%;
}
.site-header:after {
    background:
        linear-gradient(120deg, #fefffb .15em, transparent 0),
        linear-gradient(-120deg, #fefffb .15em, transparent 0);
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: .1em;
}
@media screen and (max-width: 42em) {
	.site-header {
		height: 2em;
		position: absolute;
    }
}

.project-name, .project-name a {
	border-bottom: none;
	color: #de2f0f !important;
	font-family: "Lobster Two";
	margin-bottom: -.2em;
	margin-top: 0;
	text-shadow: 0 0 !important;
}
@media screen and (min-width: 75em) {
	.site-header {
		background: transparent !important;
	}
	.site-header:before {
		background: transparent !important;
	}
	.site-header:after {
		background: transparent !important;
	}
}
@-moz-document url-prefix() {
	.project-name, .project-name a {
		opacity: .7;
	}

}
.project-tagline {
	margin-bottom: 2rem;
	font-weight: normal;
	opacity: 0.7;
}

@media screen and (max-width: 75em) {
	.project-name {
		font-size: 2rem !important;
	}
	.project-tagline {
		display: none !important;
	}

}
@media screen and (max-width: 42em) {
	.project-name {
		font-size: 7vw !important;
	}

}

/* Tags */

ul.posts li {
    margin-bottom: .25em;
}
ul.posts li div[class^="entry-"] {
    display: inline;
}
@media screen and (max-width: 42em) {
    ul.posts li div.entry-tag {
        display: none;
    }
    ul.posts li:before {
        content: "";
        margin-right: 0em;
    }
}
.entry-tag {
    float: right;
}

.main-content {
	font-size: 1rem;
	height: 100%;
	text-align: justify;
	word-wrap: break-word;
}

.main-content:before {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwZTRmNyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iIzczYjFlNyIgc3RvcC1vcGFjaXR5PSIwLjQ4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzBjMTBmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iIzUzOWZlMSIgc3RvcC1vcGFjaXR5PSIwLjQyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4N2JjZWEiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: linear-gradient(to bottom,  rgba(208,228,247,0) 0%,rgb(239, 182, 135) 24%,rgb(236, 163, 39) 50%,rgb(243, 202, 99) 79%,rgba(135,188,234,0) 100%);
    content: "";
    height: 60%;
    margin-left: -1.5em;
    position: fixed;
    top: 3em;
    width: .15em;
}
@media screen and (min-width: 42em) and (max-width: 75em) {
  .main-content:before {
	background: none;
    margin-left: 0em;
    position: absolute;
    top: 0em;
    width: 0em;
  }
}
.main-content :first-child {
	margin-top: 0;
}
@media screen and (min-width: 75em) {
  .main-content {
	max-width: 80%;
	padding-left: 8rem;
	padding-right: 1rem;
	padding-top: 3rem;
	margin: 0 auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 42em) and (max-width: 75em) {
  .main-content {
	padding: 4rem 4rem;
  }
}
@media screen and (max-width: 42em) {
  .main-content {
	padding: 4rem 1rem 1rem 1rem;
  }
  .highlighter-rouge {
	font-size: .7rem !important;
  }
}
.main-content img {
	max-width: 100%;
}
.main-content img[src$="img-center"] {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}
.main-content h1, main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: normal;
	color: #c5270a;
}
.main-content h2, .main-content h3 {
	color: #c5270a;
	font-weight: normal;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}
.main-content p {
	margin-bottom: 1em;
}
.main-content .highlight {
	margin-bottom: 1rem;
    max-width: 95%;
}
@media screen and (max-width: 75em) {
  .main-content .highlight {
    overflow: scroll;
  }
}
.main-content .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}
.main-content div.highlight pre.highlight {
	padding: 0em;
}
.main-content .highlight pre, .main-content pre {
	padding: 0.8rem;
	overflow: auto;
	max-width: 80em !important;
	font-size: 0.9rem;
	line-height: 1.45;
	-webkit-overflow-scrolling: touch;
}
.main-content .highlight .gutter pre,
.main-content .highlight .rouge-gutter pre {
    background-color: #ddd5bf !important;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}
.main-content .highlight .code pre,
.main-content .highlight .rouge-code pre {
	border: 1rem;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
	width: 90% !important;
}
.main-content .highlight .rouge-code pre {
	border: 0;
	width: 100% !important;
}
/* Disable line count on unespecified language or console */
.highlighter-rouge:not([class^="language-"]) .gl,
.highlighter-rouge.language-console .gl {
    visibility: hidden;
    width: 0% !important;
}
@media screen and (max-width: 42em) {
	.main-content .highlight pre, .main-content pre {
		font-size: .75rem;
		max-width: 100%;
	}

}
.highlighter-rouge .code pre {
	background-color: #f8f5eb !important;
	border: #ddd5bc solid .05rem !important;
	border-color: #ddd5bc !important;
	border-radius: .2rem;
}
.main-content pre code, .main-content pre tt {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}
.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
	content: normal;
}
.main-content blockquote {
	padding: 0 1rem;
	margin-left: 0;
	color: #819198;
	border-left: 0.3rem solid #dce6f0;
}
.main-content blockquote > :first-child {
	margin-top: 0;
}
.main-content blockquote > :last-child {
	margin-bottom: 0;
}
.main-content table {
    margin-left: auto;
    margin-right: auto;
	overflow: auto;
    text-align: center;
	word-break: normal;
	word-break: keep-all;
	-webkit-overflow-scrolling: touch;
}
.main-content table th {
    background: #eef4af;
	font-weight: bold;
}
.main-content table th, .main-content table td {
	padding: 0.5rem 1rem;
	border: 1px solid #e9ebec;
}
.main-content table td.code, .main-content table td.gutter,
.main-content table td.rouge-code, .main-content table td.rouge-gutter,
.main-content div.code, .main-content div.gutter,
.main-content div.rouge-code, .main-content div.rouge-gutter {
	border: 0;
	padding: 0;
}
.main-content table td.code,
.main-content table td.rouge-code {
    text-align: left;
	width: 100%;
}
.main-content .code,
.main-content .rouge-code {
	width: 100%;
}
.main-content dl {
	padding: 0;
}
.main-content dl dt {
	padding: 0;
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: bold;
}
.main-content dl dd {
	padding: 0;
	margin-bottom: 1rem;
}
.main-content hr {
	height: 2px;
	padding: 0;
	margin: 1rem 0;
	background-color: #eff0f1;
	border: 0;
}

/* Notes */
.highlight-box {
    border-radius: .3em;
    display: table;
    margin: 1em 0em 1em 0em;
    padding: .5em 1em .5em 1em;
}
.highlight-note {
    background-color: #e1f0f7;
    border: #bde5f8 1px solid;
    color: #00529B;
}
.highlight-warning {
    background-color: #f8e7bf;
    border: #f6c342 1px solid;
    color: #f3bb2c;
}
.highlight-error {
    background-color: #f5ccc2;
    border: #fca18b 1px solid;
    color: #f36c4a;
}
.highlight-box .fa {
    display: table-cell;
    font-size: 2em;
    padding-right: .4em;
    vertical-align: middle;
}
.highlight-box code {
    background: none !important;
}
.highlight-box .highlight-content {
    display: table-cell;
}
.highlight-content::first-letter {
    margin-left: 0 !important;
}
.highlight-content {
    color: #606c71;
}

.site-social {
    bottom: 0;
    margin-bottom: .4em;
    margin-right: .4em;
    opacity: .6;
    padding-right: .5em;
    padding-top: 2rem;
    position: fixed;
    right: 0;
}
@media screen and (max-width: 42em) {
  .site-social {
    float: right;
    margin-bottom: .4em;
    margin-right: .4em;
    position: relative;
  }
}

@media screen and (min-width: 42em) {
	.site-social {
        bottom: 0;
        left: .5em;
        width: 1em;
        zoom: .8;
   }
}
@media screen and (min-width: 75em) {
    .site-social {
        bottom: 15em;
        zoom: 1;
   }
}
.site-social p {
	display: inline;
}
@media print {
	.site-social {
		display: none;
	}
}
@media screen and (min-width: 75em) {
  .site-social {
	font-size: .8rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 75em) {
	.site-social {
		font-size: 1rem;
	}
}
@media screen and (max-width: 42em) {
	.site-social {
		font-size: .65rem;
	}
}

.site-social-owner {
	display: block;
	font-weight: bold;
}

/* Header and title */
.page-header {
	padding-bottom: 0;
	padding-top: .1em;
}
.page-header {
	background-image: linear-gradient(120deg, #155799, #9dbf36);
}

/* Paragprahs */
.site-header p {
	margin: 0;
}

.main-content p::first-letter {
	font-size: 1.2rem;
	font-style: normal;
	margin-left: .5em;
}

.main-content code {
	padding: 2px 4px;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 0.9rem;
	color: #567482;
	background-color: #f3f6fa;
}
.main-content pre {
	background-color: #f8f5ec;
	border: solid 1px rgb(218, 215, 206);
	color: #567482;
	font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
	word-wrap: normal;
}
@media print {
	.main-content pre {
		background: none;
	}

}
.main-content pre > code {
	padding: 0;
	margin: 0;
	font-size: 0.9rem;
	color: #567482;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}

ol, ul {
    padding-bottom: .4em;
}
/* Unordered lists */
ul li:before {
	content: "\2A7A";
	margin-right: .5em;
}
ul {
	list-style: none;
    padding-left: 1.2em;
}
ul.expanded {
	padding-left: 0em;
}
ul.expanded li:before {
	content: "\221D";
	margin-left: 0em;
	margin-right: .2em;
	padding-left: 0em;
}
ul.expanded li:after {
	margin-left: .2em;
}
ul.expanded li {
	margin-bottom: .3em;
}

.main-content ul, .main-content ol {
	margin-top: 0;
}
@media screen and (max-width: 42em) {
	ul li:before {
		margin-right: .2em;
	}
    .main-content ul, .main-content ol {
        padding-left: 0;
    }
}
@media screen and (max-width: 75em) {
	.main-content ul, .main-content ol {
		padding-left: 0;
	}
}

ul#markdown-toc:before {
	content: "...";
	float: right;
	font-size: 3em;
    margin-top: -.8em;
}
ul#markdown-toc:hover {
	background-color: #fefffb;
}
ul#markdown-toc:hover:before {
    content: "";
}
ul#markdown-toc:focus {
	background: #f00;
}

ul#markdown-toc {
	border: 1px solid #eb836e;
	float: right;
	font-size: .7rem;
	height: 1em;
	max-width: 16em;
	nav-index: 0;
	outline: 0;
	padding: 1em;
	position: fixed;
	right: 1em;
	text-transform: uppercase;
	top: 7rem;
}
ul#markdown-toc:hover {
    height: auto;
}
ul#markdown-toc li {
    display: none;
}
ul#markdown-toc:hover li {
    display: block;
}
ul#markdown-toc a {
	border-bottom: 0;
	text-decoration: underline;
}
@media screen and (max-width: 75em) {
	ul#markdown-toc {
		display: none;
	}

}
@media print {
	ul#markdown-toc {
		display: none;
	}
}
ul#markdown-toc li:before {
	content: "-";
}
#markdown-toc ul {
	padding-left: 1.3em;
}

.circled-list {
}

.MathJax, .MathJax.MathJax_FullWidth {
    outline: none;
}

/* Links */
a {
	color: #987134;
	text-decoration: none;
    border-bottom: 1px dashed;
}
.code a, .rouge-code a {
    color: #567482;
    border-bottom: 0px;
}

@media screen and (max-width: 42em) {
  a {
	border-bottom: 1px solid;
  }
}

.link-full,
.navbar-content li > a,
a.post-tag,
.posts li > a {
	border-bottom: none;
	text-decoration: none;
}

h2 a.link-full {
	color: #c5270a;
}

@media screen and (max-width: 42em) {
  .entry-title *:not(.link-full) {
    display: none;
  }
}
