#resume {
    text-align: justify;
}

.resume-section {
	padding-top: 2em;
}
#resume-filter em.fa {
    float: right;
    outline: 0;
    padding: .3em;
}
#resume-filter em.filter-menu {
    font-size: 1.4em;
    margin-left: 1em;
}
#resume-filter em.filter-item {
    font-size: 1em;
    margin-top: .5em;
}
@media print {
	#resume-filter em[id^="filter-"] {
		display: none;
	}
}
@media screen and (max-width: 42em) {
	#resume-filter em[id^="filter-"] {
		display: none;
	}
    .resume-section {
        font-size: .85em;
        padding-top: 0em;
    }
}
#resume-filter em.fa:focus {
    background-color: #d7bd1e;
}

/* Academics */
#filter-academics:focus ~ div:not(.e1-academics)  {
    display: none;
}

/* Studies */
#filter-studies:focus ~ div:not(.e1-academics),
#filter-studies:focus ~ div .e2-publications {
    display: none;
}
#filter-studies:focus ~ div .e2-studies {
    display: block;
}

/* Publications */
#filter-publications:focus ~ div:not(.e1-academics),
#filter-publications:focus ~ div .e2-studies {
    display: none;
}
#filter-publications:focus ~ div .e2-publications {
    display: block;
}

/* Languages */
#filter-languages:focus ~ div {
    display: none;
}
#filter-languages:focus ~ .e1-languages {
    display: block;
}

/* Experience */
#filter-experience:focus ~ div:not(.e1-experience) {
    display: none;
}

/* Business */
#filter-business:focus ~ div:not(.e1-experience),
#filter-business:focus ~ div .e2-research {
    display: none;
}
#filter-business:focus ~ div .e2-business {
    display: block;
}

/* Research */
#filter-research:focus ~ div:not(.e1-experience),
#filter-research:focus ~ div .e2-business {
    display: none;
}
#filter-research:focus ~ div .e2-research {
    display: block;
}

/* Deployment */
#filter-deployment:focus ~ div:not(.e1-technical),
#filter-deployment:focus ~ div .e2-development,
#filter-deployment:focus ~ div .e2-networks {
    display: none;
}
#filter-deployment:focus ~ div .e2-deployment {
    display: block;
}

/* Networks */
#filter-networks:focus ~ div:not(.e1-technical),
#filter-networks:focus ~ div .e2-development,
#filter-networks:focus ~ div .e2-deployment {
    display: none;
}
#filter-networks:focus ~ div .e2-networks {
    display: block;
}

/* Development */
#filter-development:focus ~ div:not(.e1-technical),
#filter-development:focus ~ div .e2-deployment,
#filter-development:focus ~ div .e2-networks {
    display: none;
}
#filter-development:focus ~ div .e2-development {
    display: block;
}

.acro {
	background-color: #f7ead9;
}
.e2-publications {
    margin-top: 2em;
}
.e2-publications li {
    font-size: .95em;
}
.e2-research, .e2-business {
	display: table;
    width: 100%;
}
.experience,
.studies {
	display: table-row;
}
.experience-icon,
.experience-title,
.experience-length,
.studies-title,
.studies-institution {
	display: table-cell;
}
.experience-icon {
	min-width: 10%;
    padding-right: 1em;
    width: 10%;
}
.experience-title {
	min-width: 72%;
	text-align: left;
	vertical-align: middle;
	width: 72%;
}
.experience-length {
	text-align: right;
	width: 18%;
}
.studies-title {
	min-width: 17em;
	text-align: left;
}
.studies-institution {
	width: 100%;
	text-align: right;
}
.experience a {
    color: #66503b;
    font-weight: bolder;
}

.course-title,
.course-title a {
    color: #8f7d0f;
    font-weight: bolder;
}
.publication-title {
    font-size: 1em;
}
.publication-title,
.publication-title a {
    color: #51920f;
    font-weight: bolder;
}
.studies a,
.experience a,
.publication-title a {
    border: none;
    text-decoration: underline;
}
