<head>
  <title>{{ page.title | default: site.title }}</title>
  <meta charset="utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="theme-color" content="#157878">
  <meta name="description"
  {% if page.description %}
    content="{{ page.description }}"
  {% else %}
    content="{{ site.description }}"
  {% endif %}
  />
  <link href="{{ site.baseurl }}/img/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">
  <!-- Redirect for 404 -->
  {% if page.url contains "404" %}
      <meta http-equiv="refresh" content="3; url=/">
  {% endif %}
  {% include analytics.html %}

  <!-- Academicons -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/academicons/css/academicons.css"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/resources.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/post.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tags.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/social.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/highlight.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/code.css">
</head>
