{% for node in site.pages %}
  {% if node.url contains "404" or node.url contains "page" or node.url contains "blog" or node.url contains "README" or node.url contains "assets" %}
  {% else %}
  <li>
      <a rel="external"
      {% if node.url == "/" %}
          title="Blog"
      {% else %}
          title="{{ node.url | remove: '/' | capitalize }}"
      {% endif %}
          href="{{node.url}}"
      {% if node.url == page.url %}
          class="active navlink changing-hover-css">
	    {% else %}
      >
      {% endif %}
      {% if node.url == "/" %}
          Blog
      {% else %}
          {{ node.url | remove: "/" | capitalize }}
      {% endif %}
    </a>
  </li>
  {% endif %}
{% endfor %}
