<ul>
   <li><a rel="external" href="/" class="navlink" title="Home"><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
   <li><a rel="external" href="/blog/" class="navlink" title="Blog"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
   <li><a rel="external" href="/blog/tag.html" class="navlink" title="Tags"><i class="fa fa-tags" aria-hidden="true"></i></a></li>
   <li><a rel="external" href="https://github.com/{{ site.author.github }}" class="navlink" title="Github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
</ul>
