<div id="navlink-conn-1" class="diag-left-up-line"><div class="diag-right-down-arrow"></div></div>
<div id="navlink-conn-2" class="diag-right-up-line"><div class="diag-left-down-arrow"></div></div>
<div id="navlink-conn-3" class="diag-left-up-line"><div class="diag-right-down-arrow"></div></div>

<ul>
{% for node in site.pages %}
  {% if node.url contains "404" or node.url contains "/page" or node.url contains "pages" or node.url contains "README" or node.url contains "css" %}
  {% else %}
  <li>
    {% if page.url == node.url %}
      <a rel="external" href="{{node.url}}" class="active navlink"
      {% if node.url == "/" %}
        title="Home">
	  {% else %}
        title="{{node.title}}">
	  {% endif %}
    {% else %}
      <a rel="external" href="{{node.url}}" class="navlink"
      {% if node.url == "/" %}
        title="Home">
	  {% else %}
        title="{{node.title}}">
	  {% endif %}
	{% endif %}
	  <p class="navbar-text">
	  {% if node.url == "/" %}
	    Home
	  {% else %}
        {{node.title}}
	  {% endif %}
      </p>
      <em aria-hidden="true"
      {% if node.url == "/" %}
        class="fa fa-map-marker">
      {% elsif node.url == "/blog/entries/" %}
        class="fa fa-pencil">
      {% elsif node.url == "/blog/tags/" %}
        class="fa fa-tags">
      {% elsif node.url == "/cv/" %}
        class="fa fa-paper-plane-o">
      {% endif %}
      </em>
    </a>
  </li>
  {% endif %}
{% endfor %}
</ul>
