<ul class="icons">
	<li><a rel="external" href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank" class="icon brands fa-linkedin"><span class="label"></span></a></li>
	<li><a rel="external" href="https://scholar.google.es/citations?user={{ site.author.google_scholar }}" target="_blank" class="ai ai-google-scholar ai-1x"><span class="label"></span></a></li>
	<li><a rel="external" href="https://github.com/{{ site.author.github }}" target="_blank" class="icon brands fa-github"><span class="label"></span></a></li>
	<li><a rel="external" href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="icon brands fa-twitter"><span class="label"></span></a></li>
</ul>
