<div class="site-social">
	<p>
	    <a rel="external" href="https://linkedin.com/in/{{ site.author.linkedin }}" class="social-icon" title="LinkedIn" target="_blank">
	      <em id="linkedin-icon" class="fa fa-linkedin"></em>
	    </a>
        <a rel="external" href="https://scholar.google.es/citations?user={{ site.author.google_scholar }}" class="social-icon" title="Google Scholar" target="_blank">
	        <em id="google-scholar-icon" class="ai ai-google-scholar ai-1x"></em>
	    </a>
        <a rel="external" href="https://github.com/{{ site.author.github }}" class="social-icon" title="GitHub" target="_blank">
	        <em id="github-icon"  class="fa fa-github"></em>
        </a>
    </p>
</div>
