---
layout: default
comments: true
---
<article class="post">
	<header>
		<div class="title">
			<h3>{{ page.title }}</h3>
		</div>
		<div class="meta">
			<div class="post-meta">
					<time class="published" datetime="{{ page.date }}">
						<em aria-hidden="true" class="fa fa-clock"></em>
						{{ page.date | date: "%-Y/%-m/%-d" }}
					</time>
			</div>
		</div>
	</header>

	<div class="post-content">
	{{ content }}
	</div>

	<footer>
		<ul class="stats">
			<li>
				<span>
					<em aria-hidden="true" class="fa fa-tags"></em>
					{% for tag in page.tags %}
						<a href="/blog/tags/#{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
					{% endfor %}
				</span>
			</li>
			<li>
				<span>
					<em aria-hidden="true" class="fa fa-folder-open"></em>
					{{ page.categories }}
				</span>
			</li>
		</ul>
	</footer>
</article>

<article class="post-comments">
	{% if page.comments and site.author.disqus %}
	  {% include comments.html %}
	{% endif %}
</article>
